[defaults]
inventory = inventories/production/hosts.yml
roles_path = roles
collections_path = ~/.ansible/collections:collections
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = yaml

[privilege_escalation]
become = True
